h2 {
    color: blue;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #000;
}

button{
    height:auto;
    width:auto;
}

.main{
    text-align: center;
}

.img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.img img{
    height: 400px;
    width: 300px;
}

.centerText {
    text-align: center;
}
li{
    display: inline;
}

.center{
    margin:auto;
}

.center1{
    float:right;
}

.box {
    float: left;
    width: 150px;
    height: 75px;
}
.footer {
    clear: left;
    border: 2px solid green;
}