h2 {
    color: blue;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

div.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #000;
}

button{
    height:auto;
    width:auto;
}

img {
    alignment:center;
    display:block;
    width: 5%;
    margin-left:5px;
    margin-right: 5px;


}

.centerText {
    text-align: center;
}
li{
    display: inline;
}

.center{
    margin:auto;
}

.center1{
    float:right;
}

.box {
    float: left;
    width: 150px;
    height: 75px;
}
.footer {
    clear: left;
    border: 2px solid green;
}