h2 {
    color: blue;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}
li{
    display: inline;
}

.center{
    margin:auto;
}

.center1{
    float:right;
}

.box {
    float: left;
    width: 150px;
    height: 75px;
}

.footer {
    clear: left;
    border: 2px solid green;
}